# Telegram Bot Configuration
BOT_TOKEN=8801698234:AAGUersDEYljjVSxgMzSJeNjbEv0RI2fNWc
CHAT_ID=5550417994

# Uptolink Configuration
UPTO_LINK=https://uptolink.vip/Ce8sj

# Keywords
KEYWORDS_KEEP=linkhuongdan.online
KEYWORDS_IGNORE=totreview.com,totreview

# Check Configuration
MAX_CHECKS=15
WAIT_SECONDS=2
CHECK_INTERVAL_MINUTES=30
